html{
  background: linear-gradient(-15deg, red, orange, yellow);
}
html {
 scroll-behavior: smooth;
}

section{
 height: 6vh;
 width: 30hv;
 display: flex;
 align-items: center;
 justify-content: center;
}

marquee {
  font-size: 200px;
  font-family: apercu;
  color: red;
  width:100%;
  height:30vh;
}

h1 {
font-size: 100%;
}

#test {
color: yellow;
font-size: 200px;
}

#test2{
color: red;
font-size: 100px;

}
