section{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tongue{cursor: url('../img/tongue.png'), auto;position: relative;}
#talk{position: relative;cursor: not-allowed;}
#around{position: relative;cursor:progress;}
#walk{position: relative;cursor:se-resize;}
#answer{
  display: block;
  cursor: help;
  position: relative;
}

/*.buttons{
font-family: 'Oswald', sans-serif;
width: 100px;
height: 40px;
background-color: white;
border-radius: 10px;
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
transition: .2s;
flex-shrink: 0;
left: 50%;
transform: translateX(-50%);
display:block;
}*/
/*button{
  border: none;
  font-size: 24px;
  padding: 16px 26px;
  background-color: whitesmoke;
  border-radius: 20px;
  left: 10%;
  margin: 10px;
  align-items: center;
  justify-content: center;
  display: inline-block;
  position: relative;
}*/


a{
  color: red;
  text-decoration:none;
  text-align: center;
  display:block; /* important */
}

.blue-btn, .first-link{
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.blue-btn{
  height: 100px;
  left: 50%;
  font-family: 'Coiny', cursive;
  font-size: 30px;
  /*font: normal normal 700 1em/4em Arial,sans-serif;*/
  overflow: hidden;
  width: 200px;
  background-color: white;
}

.blue-btn:hover{
   background-color: red;
   color: white;
}

.blue-btn a:hover{
  text-decoration: none;
  color: white;
}

.first-link{
  margin-top: 0em;
}

.blue-btn:hover .first-link{
  margin-top: -3em;
}



.next_btn{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid white;
  position: absolute;
  bottom:30px;
}
.next_btn:hover{
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid white;
  cursor: url("../img/pointer.png"), auto;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid white;
  position: absolute;
  bottom:100px;
  left: 50%;
  transform: translateX(-50%);
  font-family: sans-serif;
  color: blue;
  cursor: url("../img/pointer.png"), auto;
}

.arrow-up:hover{
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid white;
}
